# Red Sepolia
SEPOLIA_RPC_URL=https://sepolia.infura.io/v3/<TU_API_KEY>

# Vault Address — ADMIN_ROLE del contrato (NUNCA commitear la clave real)
VAULT_ADDRESS=0x034604c39Db14f6126C4D7EEC728FF1bedcDc3de
VAULT_PRIVATE_KEY=<CLAVE_PRIVADA_VAULT>

# Clave privada del deployer si es distinta a la Vault (NUNCA commitear la real)
DEPLOYER_PRIVATE_KEY=<CLAVE_PRIVADA_DEPLOYER>

# Verificación en Etherscan
ETHERSCAN_API_KEY=<TU_ETHERSCAN_API_KEY>
