# Red Sepolia
SEPOLIA_RPC_URL=https://sepolia.infura.io/v3/<TU_API_KEY>

# Vault Address — ADMIN_ROLE del contrato (NUNCA commitear la clave real)
VAULT_ADDRESS=0xE7136d34f62C3c8375a1d3Fe04ec4B2e99F9629E
VAULT_PRIVATE_KEY=<CLAVE_PRIVADA_VAULT>

# Clave privada del deployer si es distinta a la Vault (NUNCA commitear la real)
DEPLOYER_PRIVATE_KEY=<CLAVE_PRIVADA_DEPLOYER>

# Verificación en Etherscan
ETHERSCAN_API_KEY=<TU_ETHERSCAN_API_KEY>
